.Card {
    max-width: 600px;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem 3rem;
}

.Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.4rem;
    color: rgb(13, 25, 48);
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
}

.Card form {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.Card form input {
    width: 80%;
    padding: 8px 1rem 8px 1rem;
    font-size: 15px;
    background-color: rgb(236, 244, 255);
    outline: none;
    border: none;
    border: 1px solid transparent;
    border-right: none;
    transition: all 200ms;
    letter-spacing: 1.5px;
    color: rgb(0, 80, 155);
}

.Card form input::placeholder {
    color: rgba(0, 52, 148, 0.33);
    letter-spacing: 1.5px;
}

.Card form input:focus {
    border: 1px solid cornflowerblue;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.Card form button {
    width: 20%;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 15px;
    cursor: pointer;
}

.groceryList {
    width: 100%;
}

.Clear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.Clear button {
    outline: none;
    letter-spacing: 1.5px;
    font-weight: 600;
    background: transparent;
    border: none;
    color: orangered;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}
