.BirthdayCard {
    max-width: 600px;
    width: 95%;
    padding: 1rem 1.5rem;
    height: auto;
    margin: 8rem auto 0 auto;
}

.CounterText {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.personContainer {
    margin-bottom: 20px;
}